<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white shadow-lg">
          <div class="card-body p-5">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h2 class="fw-bold mb-2"><%= "Diretoria da Ãrea de Controle Externo - DAEXT" %></h2>
              <p class=" mb-5">
                <%= render 'layouts/flash' %>
              </p>
              <div class="mb-3">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'admin@admin.com / senha: admin123 / Olhar db/seeds.rb' %>
              </div>

              <div class="mb-3">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="mb-3 form-check">
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              <% end %>

              <div class="d-grid">
                <%= f.submit t('.sign_in'), class: "btn btn-primary" %>
              </div>
            <% end %>
            <p class="small">
              <%= render "devise/shared/links", class: 'text-primary' %>
            </p>

            <div>
              <p class="mb-0  text-center">Caso seja gestor e precise de suporte para acesso ou uso dos sistemas, entre em contato pelo e-mail </br>
                <a href="signup.html" class="text-primary fw-bold">suporte@tce.ap.gpv.br</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>